In [3]:
import pandas as pd
import numpy as np

In [4]:
dataset = pd.read_csv('final_dataset.csv')
dataset

,created_at,entry_id,Ambient Temp (degC),Humidity (%),Soil Moisture (%),Capacitor Voltage (mV),Soil Temperature (degC),SACP Cell Current (mA),Soil Voltage (V),Cell Power (mW),year,month,day,labels
0,2020-06-18 23:29:49,1,20.6875,47.49635,99,2907.74194,22.5000,25.9,0.2946,8,2020,6,18,1
1,2020-06-18 23:30:58,2,20.6250,47.52944,99,2909.03223,22.5000,26.0,0.2946,8,2020,6,18,1
2,2020-06-18 23:32:06,3,20.6250,47.55913,99,2909.03223,22.5000,26.0,0.2946,8,2020,6,18,1
3,2020-06-18 23:33:15,4,20.5625,47.59531,99,2912.90332,22.5000,26.0,0.2946,8,2020,6,18,1
4,2020-06-18 23:34:23,5,20.4375,47.60892,99,2911.61279,22.4375,26.0,0.2946,8,2020,6,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375198,2021-07-26 19:11:20,380357,26.1250,88.10663,100,2925.48389,24.9375,16.4,1.6400,0,2021,7,26,0
375199,2021-07-26 19:12:30,380358,26.0625,88.35374,100,2874.19360,24.9375,16.4,1.6400,0,2021,7,26,0
375200,2021-07-26 19:13:40,380359,26.0625,88.63950,100,2889.67749,24.9375,16.4,1.6400,0,2021,7,26,0
375201,2021-07-26 19:14:49,380360,25.9375,88.89094,100,3067.41943,24.8750,16.3,1.6300,0,2021,7,26,0
375202,2021-08-05 13:32:39,385630,23.7500,61.04981,87,2120.00000,22.2500,16.1,1.6100,0,2021,8,5,0

In [ ]:
temp = 0
y = [2020,2021]
m = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
d = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
for i in range(len(y)):
    for j in range(len(m)):
        for k in range(len(d)):
            df = dataset.loc[(dataset['month'] == j) & (dataset['year'] == i) & (dataset['day'] == k)]
            temp += 1
            t = str(temp)
            list = ['cpdata', t, '.csv']
            pd.to_csv("".join(list))